<div class="container">
    <h1>Listado de préstamos</h1>

    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Título de juego</mat-label>
                <mat-select disableRipple [(ngModel)]="filterGame" name="game">
                    <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nombre de cliente</mat-label>
                <mat-select disableRipple [(ngModel)]="filterCustomer" name="customer">
                    <mat-option *ngFor="let customer of customers" [value]="customer">{{customer.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput placeholder="Elige una fecha" [(ngModel)]="filterDate" [matDatepicker]="picker" name="date">
                <!--<mat-hint>DD/MM/YYYY</mat-hint>-->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>

        <div class="buttons">
            <button mat-stroked-button (click)="onCleanFilter()">Limpiar</button> 
            <button mat-stroked-button (click)="onSearch()">Filtrar</button> 
        </div>   
    </div>   

    <div class="loan-list">
        <mat-table [dataSource]="dataSource"> 
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="game">
                <mat-header-cell *matHeaderCellDef> Nombre de juego  </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="customer">
                <mat-header-cell *matHeaderCellDef> Nombre de cliente  </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customer.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="start_date">
                <mat-header-cell *matHeaderCellDef> Fecha de préstamo  </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.start_date | date:'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="end_date">
                <mat-header-cell *matHeaderCellDef> Fecha de devolución  </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.end_date | date:'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="deleteLoan(element)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table> 
    
        <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>
    </div>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createLoan()">Nuevo préstamo</button>            
    </div>   
</div>